@charset "UTF-8";
:root {
  --color-bg: #7cb409;
  --color-title: #ffff33;
  --color-yellow: #fce20c;
  --color-green: #00831e;
  --color-green2: #136a1a;
  --color-button: #de240b;
  --color-red: #db1e11;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  border: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
body {
  font-family: Roboto, sans-serif;
}

.app {
  padding: 35px 30px 50px;
  background: var(--color-bg);
  max-width: 420px;
  height: 100dvh;
  min-height: min(740px, 100vh);
  margin: 0px auto;
  overflow: hidden;
  position: relative;
}
.app::after {
  content: "";
  width: calc(100% + 150px);
  position: absolute;
  bottom: -100px;
  left: -50px;
  right: -100px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  background: var(--color-green);
  top: 80%;
  -webkit-transition: top 0.4s ease-in-out;
  transition: top 0.4s ease-in-out;
}
.app[data-page="1"]::after, .app[data-page="8"]::after {
  top: 40%;
}
.app[data-page="1"] .button, .app[data-page="8"] .button {
  color: #fff;
  right: 30px;
  background: var(--color-red);
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.app[data-page="1"] .app-body, .app[data-page="8"] .app-body {
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 0px 0px 80px;
}
.app[data-page="1"] .img, .app[data-page="8"] .img {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  width: 100%;
  height: 55%;
  top: 0;
  background: url("../img/4.png") no-repeat -25px -50px, url("../img/6.png") no-repeat calc(100% + 50px) 30px;
  background-size: auto 100%;
  opacity: 1;
  visibility: visible;
}
.app[data-page="1"] .img img:nth-child(1), .app[data-page="8"] .img img:nth-child(1) {
  top: -20px;
  left: 55%;
}
.app[data-page="1"] .img img:nth-child(2), .app[data-page="8"] .img img:nth-child(2) {
  top: 10px;
  left: calc(100% - 60px);
}
.app[data-page="1"] .img img:nth-child(3), .app[data-page="8"] .img img:nth-child(3) {
  top: 80px;
  left: -50px;
}
.app[data-page="2"] .img {
  background: url("../img/1.png") no-repeat calc(50% + 80px) calc(100% + 70px);
  background-size: contain;
}
.app[data-page="3"] .img {
  height: 60%;
  background: url("../img/2.png") no-repeat calc(50% + 60px) calc(100% + 190px);
  background-size: contain;
}
.app[data-page="3"] .img img:nth-child(1) {
  top: 50%;
}
.app[data-page="3"] .img img:nth-child(3) {
  top: 60%;
}
.app[data-page="4"] .img {
  background: url("../img/3.png") no-repeat calc(50% + 90px) calc(100% + 80px);
  background-size: contain;
}
.app[data-page="5"] .img {
  height: 50%;
  background: url("../img/4.png") no-repeat calc(50% + 70px) calc(100% + 160px);
  background-size: contain;
}
.app[data-page="5"] .img img:nth-child(1) {
  top: 50%;
}
.app[data-page="5"] .img img:nth-child(3) {
  top: 60%;
}
.app[data-page="6"] .img {
  background: url("../img/5.png") no-repeat calc(50% + 70px) calc(100% + 120px);
  background-size: contain;
}
.app[data-page="7"] .img {
  height: 60%;
  background: url("../img/4.png") no-repeat calc(50% + 70px) calc(100% + 190px);
  background-size: contain;
}
.app[data-page="7"] .img img:nth-child(1) {
  top: 50%;
}
.app[data-page="7"] .img img:nth-child(3) {
  top: 60%;
}
.app-body {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
  position: relative;
  z-index: 3;
}
.app-body.hidden {
  pointer-events: none;
}
.app-body.hidden .message {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.app-body.hidden ~ .button {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.app-body.true .message::before {
  content: "Верно";
}
.app-body.false .message::before {
  content: "Не верно";
}

.title,
.message,
.question,
.answer {
  color: var(--color-green2);
  text-align: center;
  width: 100%;
}

.title,
.subtitle {
  text-transform: uppercase;
}

.title {
  color: var(--color-title);
  font-size: 27px;
  letter-spacing: 1px;
  font-weight: 700;
}

.subtitle {
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 1px;
}

.question {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 400;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
}

.message {
  font-size: 16px;
  line-height: 22px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.5s linear;
  transition: opacity 0.3s linear, -webkit-transform 0.5s linear;
  transition: opacity 0.3s linear, transform 0.5s linear;
  transition: opacity 0.3s linear, transform 0.5s linear, -webkit-transform 0.5s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
}
.message::before {
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
}

.answers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
}

.answer {
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 14px;
  background: #fff;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
  -webkit-animation: show 0.5s linear forwards;
          animation: show 0.5s linear forwards;
}
.answer.true {
  background: var(--color-yellow);
}
.answer.false {
  background: var(--color-red);
}
.answer:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.answer:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.answer:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.button {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 14px;
  border-radius: 8px;
  background: #fff;
  color: var(--color-green2);
  font-size: 20px;
  letter-spacing: 1px;
  z-index: 5;
  bottom: 50px;
  left: 30px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.3s linear;
  transition: opacity 0.3s linear, -webkit-transform 0.3s linear;
  transition: opacity 0.3s linear, transform 0.3s linear;
  transition: opacity 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear;
}

.img {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  height: 40%;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  opacity: 0;
  visibility: hidden;
}
.img img {
  position: absolute;
  -webkit-animation: list 5s linear infinite;
          animation: list 5s linear infinite;
}
.img img:nth-child(1) {
  top: 150px;
  left: 15%;
}
.img img:nth-child(2) {
  top: calc(100% - 100px);
  left: calc(100% - 60px);
}
.img img:nth-child(3) {
  top: 80px;
  left: -50px;
}

.promocode {
  color: var(--color-red);
  background: #fff;
  font-size: 28px;
  font-weight: 700;
  margin: 0px auto;
  padding: 8px 32px;
  border-radius: 8px;
  -webkit-animation: promocode 0.8s ease-in-out forwards;
          animation: promocode 0.8s ease-in-out forwards;
}

.desc {
  font-size: 12px;
  color: #fff;
}

@-webkit-keyframes show {
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes show {
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes promocode {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes promocode {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes list {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(-3deg) translate(0, 2px);
            transform: rotate(-3deg) translate(0, 2px);
  }
  50% {
    -webkit-transform: rotate(0deg) translate(0, 4px);
            transform: rotate(0deg) translate(0, 4px);
  }
  75% {
    -webkit-transform: rotate(3deg) translate(0, 0);
            transform: rotate(3deg) translate(0, 0);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes list {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(-3deg) translate(0, 2px);
            transform: rotate(-3deg) translate(0, 2px);
  }
  50% {
    -webkit-transform: rotate(0deg) translate(0, 4px);
            transform: rotate(0deg) translate(0, 4px);
  }
  75% {
    -webkit-transform: rotate(3deg) translate(0, 0);
            transform: rotate(3deg) translate(0, 0);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}/*# sourceMappingURL=style.css.map */