:root {
  --color-title: #FAEEA0;
  --color-button: #DF0D7F;
  --color-blue: #072A7E;
  --color-answer: #7A6BFE;
  --color-success: #01B703;
  --color-error: #DF0D7F;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  border: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
body {
  font-family: Roboto, sans-serif;
}

.app {
  padding: 35px 10px 50px;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  max-width: 420px;
  height: 100dvh;
  min-height: min(740px, 100vh);
  margin: 0px auto;
  overflow: hidden;
  position: relative;
}
.app::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.app[data-page="1"]::after {
  background: url("../img/hand-1.png") no-repeat center bottom;
  background-size: contain;
}
.app[data-page="2"] .app-progress {
  background-image: url("../img/1.png");
}
.app[data-page="3"] .app-progress {
  background-image: url("../img/2.png");
}
.app[data-page="4"] .app-progress {
  background-image: url("../img/3.png");
}
.app[data-page="5"] .app-progress {
  background-image: url("../img/4.png");
}
.app[data-page="6"] .app-progress {
  background-image: url("../img/5.png");
}
.app[data-page="1"]::after, .app[data-page="8"]::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: url("../img/hand-1.png") no-repeat center bottom;
  background-size: contain;
}
.app[data-page="1"].looser::after, .app[data-page="8"].looser::after {
  background: url("../img/hand-looser.png") no-repeat 50% calc(100% + 140px);
}
.app[data-page="1"].winner::after, .app[data-page="8"].winner::after {
  height: 50%;
  background: url("../img/hand-winner.png") no-repeat calc(100% + 20px) calc(100% + 40px);
  background-size: contain;
}
.app[data-page="1"].winner .app-image-1, .app[data-page="8"].winner .app-image-1 {
  background-image: url("../img/cap.png");
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  top: -30px;
  right: 20px;
}
.app[data-page="1"].winner .app-image-2, .app[data-page="8"].winner .app-image-2 {
  left: calc(100% - 150px);
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
.app[data-page="1"].winner .app-image-3, .app[data-page="8"].winner .app-image-3 {
  top: 70%;
  left: 0;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
.app[data-page="1"].winner .app-body::before, .app[data-page="1"].winner .app-body::after, .app[data-page="1"].looser .app-body::before, .app[data-page="1"].looser .app-body::after, .app[data-page="8"].winner .app-body::before, .app[data-page="8"].winner .app-body::after, .app[data-page="8"].looser .app-body::before, .app[data-page="8"].looser .app-body::after {
  background: url("../img/ok-icon.png") no-repeat center;
  background-size: contain;
}
.app[data-page="1"].winner .app-body::before, .app[data-page="1"].looser .app-body::before, .app[data-page="8"].winner .app-body::before, .app[data-page="8"].looser .app-body::before {
  top: 600px;
  width: 60px;
}
.app[data-page="1"].winner .app-body::after, .app[data-page="1"].looser .app-body::after, .app[data-page="8"].winner .app-body::after, .app[data-page="8"].looser .app-body::after {
  width: 40px;
  top: 400px;
}
.app[data-page="1"] .button, .app[data-page="8"] .button {
  opacity: 1;
  visibility: visible;
  -webkit-transform: none;
          transform: none;
  position: relative;
  left: 0;
  bottom: 0;
  margin: 50px auto 0;
}
.app[data-page="1"] .app-body, .app[data-page="8"] .app-body {
  gap: 10px;
  position: relative;
}
.app[data-page="1"] .app-body::before, .app[data-page="1"] .app-body::after, .app[data-page="8"] .app-body::before, .app[data-page="8"] .app-body::after {
  pointer-events: none;
  content: "";
  position: absolute;
  aspect-ratio: 1/1;
  background: url("../img/que-icon.png") no-repeat center;
  background-size: contain;
}
.app[data-page="1"] .app-body::before, .app[data-page="8"] .app-body::before {
  width: 40px;
  top: 330px;
  left: 20px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
.app[data-page="1"] .app-body::after, .app[data-page="8"] .app-body::after {
  width: 60px;
  top: 300px;
  left: calc(100% - 80px);
  -webkit-animation: icons 10s linear infinite;
          animation: icons 10s linear infinite;
}
.app[data-page="1"] .app-image-1, .app[data-page="8"] .app-image-1 {
  top: -50px;
  right: -50px;
  width: 200px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
.app[data-page="1"] .app-image-2, .app[data-page="8"] .app-image-2 {
  top: 60%;
  width: 180px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
.app[data-page="1"] .app-image-3, .app[data-page="8"] .app-image-3 {
  top: 50%;
  left: calc(100% - 200px);
  width: 250px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-filter: blur(2px);
          filter: blur(2px);
}
.app-body {
  padding: 30% 0px 0px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 14px;
  position: relative;
  z-index: 3;
}
.app-body.hidden {
  pointer-events: none;
}
.app-body.hidden .message {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.app-body.hidden ~ .button {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, 0) scale(1);
          transform: translate(-50%, 0) scale(1);
}

@-webkit-keyframes icons {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    -webkit-transform: translate(3px, 3px) rotate(10deg);
            transform: translate(3px, 3px) rotate(10deg);
  }
  50% {
    -webkit-transform: translate(-3px, 0px) rotate(0deg);
            transform: translate(-3px, 0px) rotate(0deg);
  }
  75% {
    -webkit-transform: translate(-3px, -3px) rotate(-6deg);
            transform: translate(-3px, -3px) rotate(-6deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}

@keyframes icons {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    -webkit-transform: translate(3px, 3px) rotate(10deg);
            transform: translate(3px, 3px) rotate(10deg);
  }
  50% {
    -webkit-transform: translate(-3px, 0px) rotate(0deg);
            transform: translate(-3px, 0px) rotate(0deg);
  }
  75% {
    -webkit-transform: translate(-3px, -3px) rotate(-6deg);
            transform: translate(-3px, -3px) rotate(-6deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}
.message,
.question,
.answer {
  text-align: center;
  width: 100%;
}

.title {
  color: var(--color-title);
  font-size: 27px;
  font-weight: 700;
  margin: 0px auto;
}

.subtitle {
  color: var(--color-title);
  font-size: 22px;
  line-height: 28px;
  margin: 0px auto;
}

.question {
  font-size: 16px;
  color: var(--color-blue);
  padding: 20px;
  border-radius: 20px;
  background: var(--color-title);
  position: relative;
}

.message {
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.5s linear;
  transition: opacity 0.3s linear, -webkit-transform 0.5s linear;
  transition: opacity 0.3s linear, transform 0.5s linear;
  transition: opacity 0.3s linear, transform 0.5s linear, -webkit-transform 0.5s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
  margin-top: 15px;
}
.message::before {
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
}

.answers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 10px;
}

.answer {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 30px;
  background: var(--color-answer);
  border-radius: 30px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
  -webkit-animation: show 0.5s linear forwards;
          animation: show 0.5s linear forwards;
}
.answer.true {
  background: var(--color-success);
}
.answer.false {
  background: var(--color-error);
}
.answer:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.answer:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.answer:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.button,
.promocode {
  display: block;
  padding: 8px 40px;
  border-radius: 40px;
  background: var(--color-button);
  color: #fff;
  font-size: 20px;
  z-index: 5;
  margin: 0px auto;
}

.button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-50%, 0) scale(0.8);
          transform: translate(-50%, 0) scale(0.8);
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.3s linear;
  transition: opacity 0.3s linear, -webkit-transform 0.3s linear;
  transition: opacity 0.3s linear, transform 0.3s linear;
  transition: opacity 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear;
}

.promocode {
  -webkit-animation: promocode 0.8s ease-in-out forwards;
          animation: promocode 0.8s ease-in-out forwards;
  text-transform: uppercase;
}

.desc {
  font-size: 12px;
  color: #fff;
}

.app-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 20px;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  padding: 0px 0px 2px;
  font-size: 14px;
  height: 190px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: calc(100% + 7px) calc(100% + 20px);
}
.app-progress .value {
  font-size: 24px;
  font-weight: 700;
  position: relative;
  bottom: -2px;
}

.app-logo {
  background: url("../img/logo.png") no-repeat center;
  background-size: contain;
  width: 25%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 10px;
  left: 10px;
}

.app[data-page="1"] .app-image, .app[data-page="8"] .app-image {
  pointer-events: none;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/zewa-product.png");
  aspect-ratio: 1/1;
  z-index: 0;
}

@-webkit-keyframes show {
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes show {
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes promocode {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes promocode {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes list {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(-3deg) translate(0, 2px);
            transform: rotate(-3deg) translate(0, 2px);
  }
  50% {
    -webkit-transform: rotate(0deg) translate(0, 4px);
            transform: rotate(0deg) translate(0, 4px);
  }
  75% {
    -webkit-transform: rotate(3deg) translate(0, 0);
            transform: rotate(3deg) translate(0, 0);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes list {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(-3deg) translate(0, 2px);
            transform: rotate(-3deg) translate(0, 2px);
  }
  50% {
    -webkit-transform: rotate(0deg) translate(0, 4px);
            transform: rotate(0deg) translate(0, 4px);
  }
  75% {
    -webkit-transform: rotate(3deg) translate(0, 0);
            transform: rotate(3deg) translate(0, 0);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}/*# sourceMappingURL=style.css.map */